@import "../../assets/styles/variables";

.panel {
  position: fixed;
  height: 100%;
  width: 250px;
  z-index: 10;
  transition: all 0.5s;

  .nav-button {
    position: absolute;
    top: 20px;
    left: 250px;
    transition: 0.5s;
  }
  .panel-side {
    background: $color-main-bg;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 100%;
    width: 250px;
    box-sizing: border-box;
    padding: 20px 0;
    transition: all 0.5s;

    .button{
      .btn-text{
        padding-left: 5px;
      }
    }
  }

  &.hidden {
    transform: translateX(-250px);
  }
}
@media screen and (max-width: $breakpoint-width) {
  .panel {
    width: 55px;

    .nav-button {
      left: 55px;
    }
    .panel-side {
      width: 55px;

      .photo-box {
        img {
          height: 40px;
          width: 40px;
        }
        h2 {
          display: none;
        }
      }
      .navigation {
        li {
          .navigation-item__label {
            display: none;
          }
        }
      }
      .button {
        height: 30px;
        padding: 0 15px;
        background: $color-highlights;

        span {
          display: none;
        }
      }
    }

    &.hidden {
      transform: translateX(-55px);
    }
  }
}
