@import "../../assets/styles/variables";

.inner-page {
  .main-content {
    margin-left: 250px;
    transition: all 0.5s;
  }
  .panel.hidden ~ .main-content {
    margin-left: 0;
  }
}
@media screen and (max-width: $breakpoint-width) {
  .inner-page {
    .main-content {
      margin-left: 55px;
    }
  }
}
