@import "../../assets/styles/variables";
.button {
  border-radius: 5px;
  height: 40px;
  color: $color-secondary-text;
  background: $color-main-bg;
  border: none;
  margin: 0 auto;
  padding: 0 20px;

  &:hover {
    background: $color-highlights;
  }

  .btn-icon {
    padding-right: 10px;
    &:empty {
      display: none;
    }
  }
  .btn-text {
    font: $general-font;
    white-space: nowrap;
  }
}
