.button {
  border-radius: 5px;
  height: 40px;
  color: #ffffff;
  background: #222935;
  border: none;
  margin: 0 auto;
  padding: 0 20px;

  &:hover {
    background: #26c17e;
  }

  .btn-icon {
    padding-right: 10px;
    &:empty {
      display: none;
    }
  }
  span {
    font: 14px "Open Sans", sans-serif;
    white-space: nowrap;
  }
}
