@import "../../assets/styles/variables";
.address {
  font-style: normal;
  display: flex;
  gap: 30px;
  flex-direction: column;
  dl {
    display: flex;
    align-items: center;
    font-size: 16px;

    dt {
      color: $color-highlights;
      font-size: 26px;
      min-width: 50px;
    }

    dd {
      cursor: pointer;
      display: block;
      margin-inline-start: 0px;

      strong {
        font-weight: 700;
      }
      a {
        color: $color-navbars;
        text-decoration: none;
        strong {
          color: $color-main-bg;
        }
      }
    }
  }
}
