.info-box {
  max-width: 1030px;
  margin: 0 auto;
  padding: 40px 30px 10px;
  color: #222935;
  box-sizing: border-box;

  .info-box__title {
    color: #26c17e;
    font-size: 25px;
    padding-bottom: 40px;

    &:empty {
      display: none;
    }
  }

}
