@import "../../assets/styles/variables";
.info-box {
  max-width: $max-width;
  margin: 0 auto;
  padding: $container-padding;
  color: $color-main-bg;
  box-sizing: border-box;

  .info-box__title {
    color: $color-highlights;
    font-size: 25px;
    padding-bottom: 40px;

    &:empty {
      display: none;
    }
  }
}
