@import "../../assets/styles/variables";

.nav-button {
  border-radius: 0 5px 5px 0;
  height: 30px;
  width: 30px;
  color: $color-secondary-text;
  background: $color-main-bg;
  border: none;
  margin: 0 auto;
  padding: 0 10 px;
  transition: 0.5s;
  &:hover {
    color: $color-highlights;
  }
}
