@import "../../assets/styles/variables";

.navigation {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-between;
  padding: 20px;
  margin: 0;

  li {
    &.active-scroll-spy {
      a {
        color: $color-highlights;
        font-weight: 600;
      }
    }
    a {
      display: flex;
      gap: 20px;
      align-items: center;
      color: $color-navbars;
      text-decoration: none;
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      &:hover,&.active {
        color: $color-highlights;
        font-weight: 600;
      }

      .navigation-item__label {
        display: inline-block;
        white-space: nowrap;
      }
    }
  }
}
