@import "../../assets/styles/variables";

.photo-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    border: 1px solid $color-secondary-text;
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }
  h2 {
    color: $color-secondary-text;
    padding-top: 10px;
  }
}
