@import "./assets/styles/variables";
@import-normalize;

* {
  margin: 0;
}
body {
  font: $general-font;
  line-height: 150%;

  h2,
  h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
  }

  ul {
    padding: 0;
    list-style: none;
  }

  
}
